<%- include('layouts/header') %> 


<body>


    <main>
      <input type="file" name="files" webkitdirectory directory id="files" multiple />
        <div  id="dinamic" class="album py-5 bg-light">

        </div>
      

      </main>


    <script>


var inp = document.getElementById("files");
const contenedor = document.querySelector("#dinamic");

inp.addEventListener("change",function(ev){
  let div = document.createElement("p");
  //console.log(inp.files);
  for (i = 0; i < inp.files.length; i++) {
      let file = inp.files[i];
      console.log(file.name, file.webkitRelativePath, file.size);

      EXIF.getData(file,function(){

   console.log(file.exifdata)

   div.innerHTML += 

`
<div class="container">

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  
  <div class="col">
    <div class="card shadow-sm">

      <img  class="bd-placeholder-img card-img-top" width="100%" height="225" src="/img/${file.name}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>

      <p>Fecha/Hora: ${file.exifdata.DateTime}</p>
                       
      <p>Latitud : ${file.exifdata.GPSLatitude[0].numerator}° ${file.exifdata.GPSLatitude[1].toFixed(2)}' ${file.exifdata.GPSLatitude[2]}" ${file.exifdata.GPSLatitudeRef} </p>

      <p>Longitud : ${file.exifdata.GPSLongitude[0].numerator}° ${file.exifdata.GPSLongitude[1].toFixed(2)}' ${file.exifdata.GPSLongitude[2]}" ${file.exifdata.GPSLongitudeRef} </p>

      <p>Altitud: ${file.exifdata.GPSAltitude}metros / Nivel del mar</p>

      <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary" target="_blank" href="http://localhost:3001/img/${file.name}" role="button">View</a>
                      </div>
                    </div>
      </div>
    </div>
  </div>
     
</div>
<br>
  `
})

  }
  contenedor.appendChild(div);
});




    </script>
</body>
</html>