<%- include('layouts/header') %> 

<h2>VERIFICACIÓN DE DISTANCIA</h2>
    <form class="row g-1" method="post" action="/verificacion">

        <h2>Latitud</h2>

        <div class="form-group">
            <label for="my-input">Grados</label>
            <input id="my-input" class="form-control" type="number" name="latGrados2">
        </div>

        <div class="form-group">
            <label for="my-input">Minutos</label>
            <input id="my-input" class="form-control" type="number" name="latMinutos2">
        </div>

        <div class="form-group">
            <label for="my-input">Segundos</label>
            <input id="my-input" class="form-control" type="number" name="latSegundos2">
        </div>

        <h2>Longitud</h2>

        <div class="form-group">
            <label for="my-input">Grados</label>
            <input id="my-input" class="form-control" type="number" name="longGrados2">
        </div>

        <div class="form-group">
            <label for="my-input">Minutos</label>
            <input id="my-input" class="form-control" type="number" name="longMinutos2">
        </div>

        <div class="form-group">
            <label for="my-input">Segundos</label>
            <input id="my-input" class="form-control" type="number" name="longSegundos2">
        </div>

        <h4>Linea Base</h4>

        <div class="form-group">
            <label for="my-select">Linea Base </label>
            <select id="my-select" class="custom-select" name="lineaBase">
                <option>05 BN</option>
                <option>06 PRA</option>
                <option>07 PD</option>
            </select>
        </div>



        <button type="submit" class="btn btn-primary">Comprobar Distancia</button>

      </form>

      <h1><%= zee(-40.513333,-61.973333,decimal((-datosForm.latGrados2),datosForm.latMinutos2,datosForm.latSegundos2),decimal(-(datosForm.longGrados2),datosForm.longMinutos2,datosForm.longSegundos2))%></h1>
     

      <%- include('layouts/footer') %> 